<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div>
        <%= link_to 'Create a cocktail', new_cocktail_path, class: "btn btn-primary" %>
      </div>
      <div>
        <h4>CopaCabana - Cocktails list</h4>
      </div>
    </div>
    <div class="card">
    <% @cocktails.each do |cocktail| %>
      <div class="col-md-4">
        <%= link_to cocktail_path(cocktail.id) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path cocktail.photo, crop: :fill %>')">
            <%= cocktail.name  %>
          </div>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>

</div>





