<div class="container">

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div id="create">
        <%= link_to 'Create a cocktail', new_cocktail_path, class: "btn btn-primary" %>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <div id="cocktail-list">
        <h4>CopaCabana - Cocktails list</h4>
      </div>
    </div>
  </div>



  <div class="cards">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-md-4">
          <%= link_to cocktail_path(cocktail.id) do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path cocktail.photo, crop: :fill %>')">
              <div class="card-title">
                @<%= cocktail.name  %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>





