
.card {
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-dose {
  margin-bottom: 20px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: blue;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background-color: white;
  padding: 10px;
}


#bidule {
  display: flex;
  justify-content: space-between
}

.photo-cocktail {
  margin-bottom: 20px;
}



